<!-- Education Illustration -->
<div class="education-illustration mx-auto mx-lg-0">
    <svg viewBox="0 0 450 350" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- Modern Education Scene -->
        <!-- Tablet/Laptop -->
        <rect x="75" y="100" width="300" height="200" rx="15" fill="white" fill-opacity="0.1" stroke="white"
            stroke-width="2"></rect>
        <rect x="85" y="110" width="280" height="150" rx="8" fill="white" fill-opacity="0.05">
        </rect>
        <rect x="185" y="270" width="80" height="10" rx="5" fill="white" fill-opacity="0.3"></rect>

        <!-- Floating Elements -->
        <g class="floating-icons">
            <!-- Graduation Cap -->
            <path d="M225 40L150 80L225 120L300 80L225 40Z" fill="#ffc107">
                <animateTransform attributeName="transform" type="translate" values="0 0; 0 -15; 0 0" dur="4s"
                    repeatCount="indefinite"></animateTransform>
            </path>
            <path d="M150 80V120L225 155L300 120V80L225 120L150 80Z" fill="white" fill-opacity="0.2">
                <animateTransform attributeName="transform" type="translate" values="0 0; 0 -15; 0 0" dur="4s"
                    repeatCount="indefinite"></animateTransform>
            </path>

            <!-- Book -->
            <rect x="50" y="220" width="60" height="80" rx="5" fill="#ffc107" fill-opacity="0.8">
                <animateTransform attributeName="transform" type="translate" values="0 0; 10 0; 0 0" dur="5s"
                    repeatCount="indefinite"></animateTransform>
            </rect>
            <rect x="55" y="225" width="50" height="70" rx="2" fill="white" fill-opacity="0.9">
                <animateTransform attributeName="transform" type="translate" values="0 0; 10 0; 0 0" dur="5s"
                    repeatCount="indefinite"></animateTransform>
            </rect>

            <!-- Pencil -->
            <rect x="340" y="150" width="15" height="100" rx="7.5" fill="white" fill-opacity="0.5"
                transform="rotate(15 340 150)">
                <animateTransform attributeName="transform" type="rotate" from="15 340 150" to="25 340 150" dur="3s"
                    repeatCount="indefinite" additive="replace">
                </animateTransform>
            </rect>
        </g>

        <!-- Abstract Shapes -->
        <circle cx="380" cy="60" r="30" fill="#ffc107" fill-opacity="0.1"></circle>
        <circle cx="40" cy="50" r="15" fill="white" fill-opacity="0.1"></circle>
        <path d="M400 250Q430 280 400 310" stroke="#ffc107" stroke-width="3" stroke-linecap="round" fill="none"></path>
    </svg>
</div>